@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/*  CSS Variables */

:root {
  --FF: "Nunito", sans-serif;
  --FF-Headings: "Fugaz One", cursive;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --BGCOLOR: orange;
  --BGCOLOR-FADE: rgb(252, 220, 160);
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #fff;
  --FONT-COLOR: #000;
  --BORDER-COLOR: #333;
  --BORDERS: 1px solid (var(--BORDER-COLOR));
  --HIGHLIGHT-COLOR: rgb(51, 178, 51);
}

/* Utility Classes */
offscreen {
  position: absolute;
  left: -10000px;
}
nowrap {
  white-space: nowrap;
}
.center {
  text-align: center;
}
/* General Styling */

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  background-image: var(--BGIMAGE);
}
body {
  background-color: var(--BODY-BGCOLOR);
  color: var(--FONT-COLOR);
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1,
h2,
h3 {
  font-family: var(--FF-Headings);
  letter-spacing: 0.1rem;
}
h2,
h3 {
  margin-bottom: 1em;
  color: var(--HIGHLIGHT-COLOR);
}
p {
  line-height: 1.5;
}
